@model Lab5.Models.ViewModels.DealsViewModel

@{
	ViewData["Title"] = "Food Delivery Services";
}

<h1>Food Delivery Services</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FoodDeliveryServices.FirstOrDefault().Title)</th>
            <th>@Html.DisplayNameFor(model => model.FoodDeliveryServices.FirstOrDefault().Fee)</th>
            <th>Subscribers to Food Delivery Service</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fds in Model.FoodDeliveryServices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fds.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fds.Fee)
                </td>
                <td>
                    <ul>
                        @foreach (var subscription in Model.Subscriptions.Where(s => s.FoodDeliveryServiceId == fds.Id))
                        {
                            var customer = Model.Customers.FirstOrDefault(c => c.Id == subscription.CustomerId);
                            if (customer != null)
                            {
                                <li>@customer.FullName</li>
                            }
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@fds.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@fds.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@fds.Id">Delete</a> |
                    <a asp-controller="Deals" asp-action="Index" asp-route-id="@fds.Id">Deals</a> |
                    @* Need to adjust *@
                    <a asp-action="Index" asp-route-selectedCustomerId="@fds.Id">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

