@model Lab5.Models.ViewModels.DealsViewModel

@{
	ViewData["Title"] = "Food Delivery Services";
}

<h1>Food Delivery Services</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FoodDeliveryServices.FirstOrDefault().Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FoodDeliveryServices.FirstOrDefault().Fee)
			</th>
			<th>
				Customers Name
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.FoodDeliveryServices)
		{
			<tr>
				<td>
					@item.Title
				</td>
				<td>
					@item.Fee.ToString("C")
				</td>
				<td>
				@foreach (var s in Model.Subscriptions.Where(x => x.ServiceId == item.Id))
				{
					var customer = Model.Customers.FirstOrDefault(x => x.Id == s.CustomerId);
					if (customer != null)
					{
						<p>@customer.FirstName @customer.LastName</p>
					}
				}
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
